<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kakao Login Success</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-4">카카오 로그인 성공</h1>
    <p id="token-info">JWT Token: <span th:text="${jwtToken}"></span></p>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const jwtToken = /*[[${jwtToken}]]*/ 'default_value';
        console.log("JWT Token: ", jwtToken);  // 디버깅용 로그 추가
        localStorage.setItem('jwtToken', jwtToken);
        document.getElementById('token-info').innerText = 'JWT Token: ' + jwtToken;
        alert('카카오 로그인 성공');
        window.location.href = "/user-products";
    });
</script>
</body>
</html>
